#VS
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

#Build
Debug/
Release/
x64/
x86/
*.obj
*.o
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.lastbuildstate

#CUDA
*.cubin
*.ptx
*.fatbin
*.nvvp

#Generated output
output/*
!output/.gitkeep
benchmarks/*
!benchmarks/.gitkeep

#temp
*.tmp
*.temp
Thumbs.db
.DS_Store
